<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--admin-->
<mapper namespace="com.example.animal.mapper.AnimalMapper">
    <resultMap id="animalMap" type="com.example.animal.model.Animal">
        <result property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="name" column="name"/>
        <result property="species" column="species"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="image" column="image"/>
        <result property="h_id" column="h_id"/>
    </resultMap>
    <select id="selectAll" resultType="com.example.animal.model.Animal">
        SELECT
	        *
        FROM
	        "animal"
    </select>
    <select id="getImgById" resultType="java.lang.Object">
        SELECT
            "image"
        FROM
            "animal"
        WHERE
            "id" =#{id}
    </select>
    <select id="deleteById">
        DELETE FROM
            "animal"
        WHERE
            "id" =#{id}
    </select>
</mapper>