<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--admin-->
<mapper namespace="com.example.animal.mapper.UserMapper">
    <resultMap id="userMap" type="com.example.animal.model.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="h_id" column="h_id"/>
    </resultMap>
    <select id="selectAll" resultType="com.example.animal.model.User">
        SELECT
            *
        FROM
            "user"
    </select>
    <select id="getPassword" resultType="string">
        SELECT
	        "password"
        FROM
	        "user"
        WHERE
	        "name" = #{name}
    </select>
    <select id="signUp">
        INSERT INTO "user" ( "name", "password", "email", "phone" )
        VALUES
	    (
		#{name},
		#{password},
        #{email},
        #{phone})
    </select>
    <select id="deleteById">
        DELETE FROM
            "user"
        WHERE
            "id"=#{id}
    </select>
    <select id="insert">
        call INSERT_USER(#{name},#{password},#{email},#{phone},#{h_id})
    </select>
</mapper>